<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button fxShow="true" fxHide.gt-sm="true" mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Led Admin Console</span>

    <span class="example-spacer"></span>

    <div fxShow="true" fxHide.lt-md="true">
      <button mat-button>Settings</button>
      <button mat-button>Clients</button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container fxFlexFill class="sidenav-container" autosize>
  <mat-sidenav #sidenav fxLayout="column">
    <div fxLayout="column">
      <button mat-button>Settings</button>
      <button mat-button>Clients</button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content fxFlexFill>
    <mat-drawer-container class="side-menu-container" autosize>
      <mat-drawer style="width:180px" mode="side" opened="true">
        <label id="drawer-header">Projects</label>
        <button mat-raised-button class="drawer-button" *ngFor="let project of allProjectsObs | async" (click)="onProjectSelect(project.description)">{{project.description}}</button>
        <!-- <button mat-raised-button class="drawer-button" *ngFor="let project of projectArray">{{project.description}}</button> -->
        <button id="drawer-add-button" mat-mini-fab color="accent">
            <mat-icon aria-label="Add">add</mat-icon>
          </button>
      </mat-drawer>
      <mat-drawer-content class="main-content-container">
        <mat-list>
          <h2 style="text-align:center">{{selectedProject.description}}</h2>
          <label style="display:block;text-align:center">{{selectedProject.ip}}</label>
          <label style="display:block;text-align:center">{{selectedProject.userPassword}}</label>
          <label style="display:block;text-align:center">{{selectedProject.adminPassword}}</label>
        </mat-list>
      </mat-drawer-content>
    </mat-drawer-container>
  </mat-sidenav-content>
</mat-sidenav-container>
